name: "Integration Tests"

on:
  workflow_dispatch: {}

  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Python Dependencies
        shell: bash
        run: |
          pip install -r src/requirements.txt

      - name: Run Tests
        shell: bash
        run: |
          pytest -s -v --log-level DEBUG -rP --pyargs src/
